{%  extends 'main/base.html' %}
{% block title %}Add books{% endblock %}
{% block content %}
    <h1>Here you can see information about all books</h1>
    <div class="container-fluid">
    {% if books_list %}
        <table class="table">
            <thead>
            <tr>
                {% for attr in attributes_keys %}
                    <th scope="col">{{ attr }}</th>
                {% endfor %}
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
                {% for book in books_list %}
                    <tr>
                    <th scope="row">{{ book.ISBN }}</th>
                    <td>{{ book.title }}</td>
                    <td>{{ book.authors }}</td>
                    <td>
                        {% if book.publishedDate %}
                            {{ book.publishedDate }}
                        {% else %}
                            (unknown)
                        {% endif %}
                    </td>
                    <td>
                        {% if book.pageCount is not None %}
                            {{ book.pageCount }}
                        {% else %}
                            (unknown)
                        {% endif %}
                    </td>
                    <td>
                        {% if book.thumbnail %}
                            {{ book.thumbnail }}<br>
                            <img src="{{ book.thumbnail }}" alt="<wrong thumbnail url>">
                        {% else %}
                            (unknown)
                        {% endif %}
                    </td>
                    <td>
                        {% if book.language %}
                            {{ book.language }}
                        {% else %}
                            (unknown)
                        {% endif %}
                    </td>
                    <td>
                        {% if book.cost is not None %}
                            {{ book.cost }} PLN
                        {% else %}
                            (not available)
                        {% endif %}
                    </td>
                        <td>
                        <form action="#" method="post">
                            {% csrf_token %}
                            <button type="submit" value="E{{ book.ISBN }}" name="operation">edit</button><br>
                        </form>
                    </td>
                    <td>
                        <form action="#" method="post">
                            {% csrf_token %}
                            <button type="submit" value="D{{ book.ISBN }}" name="operation">Delete</button><br>
                        </form>
                    </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>(no books so far)</p>
    {% endif %}
    </div>
{% endblock %}